body, div, p, span, a, ul, ol, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
/*修改input标签默认样式*/
.a-upload {
    width: 100px;
    padding: 4px 10px;
    position: relative;
    cursor: pointer;
    color: #672929;
    background: -webkit-linear-gradient(#FFDA51, #FFC23C);
    background: -o-linear-gradient(#FFDA51, #FFC23C);
    background: -moz-linear-gradient(#FFDA51, #FFC23C);
    background: linear-gradient(#FFDA51, #FFC23C);
    border: 1px solid #ffd222;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    /*font-size: 100px;*/
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.a-upload:hover {
    color: #fff;
    background: -webkit-linear-gradient(#cec1a2, #756d4c);
    background: -o-linear-gradient(#cec1a2, #756d4c);
    background: -moz-linear-gradient(#cec1a2, #756d4c);
    background: linear-gradient(#cec1a2, #756d4c);
    border-color: #f7ad6b;
    text-decoration: none
}

.left{
    float: left;
}
.right{
    float: right;
}
.hide{
    display: none;
}
.wrapper{
	width: 100%;
	height: 80%;
    padding-top: 20px;
	position: absolute;
	opacity: 0.2;
    /*color: rgb(4, 134, 165);;*/
    text-align: center;
    font-family: 'jackrunnerfreeregular';
    font-size: 330px;
}
.bg_word{
    width: 50%;
    height: 50%;
    float: left;
}

.choose_picture{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
    margin-top: 20px;
    background: #11a9e2;
    opacity: 0.4;
}

.mypics{
    height: 50%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    /*margin-bottom: 16px;*/
    /*border-radius: 4px;*/
}
.takes{
    width: 100%;
    height: 100%;
    color: #444240;
    line-height: 50px;
    font-size: 100px;
    letter-spacing: 45px;
    border: none;
    cursor: pointer;
    background: none;
}
.open_pic{
    width: 100%;
    height: 100%;
    display: flex;
    color: #fbfaf9;
    background: #3c3c3c;
    box-shadow: 2px 6px 4px 3px #1f1412;
    border: solid 1px #3e3736;
    border-radius: 16px;
    -webkit-transition: all 0.12s ease-out;     /* Safari & Chrome */
    -moz-transition: all 0.12s ease-out;        /* Firefox */
    -o-transition: all 0.12s ease-out;      /* Opera */
}
.open_pic:active{
    box-shadow: 2px 2px 4px 3px #1f1412;
}
.label-upload{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.word_effects{
    cursor: pointer;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    -webkit-transition: .2s all linear;
    color: #f7f7f7;
}
.chespan{
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*上部分*/
.top_part{
   width: 100%;
   height: 80% 
}
/*左侧部分*/
.rechoose{
    width: 10%;
    
}
.revise_a{
    width: 20px;
    margin: 15px 15px 0 15px;
}
/*中间主部分*/
.main_content{
    /*width: 80%;*/
    width:-moz-calc(80% - 2px);
    width:-webkit-calc(80% - 2px);
    width: calc(80% - 2px);
    height:-moz-calc(100% - 1px);
    height:-webkit-calc(100% - 1px);
    height: calc(100% - 1px);
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}
.picture_show{
    padding: 15px;
}
/*右侧*/
.sidebar{
    width: 10%;
}
.revise_button{
    width: 74px;
    height: 24px;
    margin: 15px 15px 0 15px;
    color: #672929;
    cursor: pointer;
    background: -webkit-linear-gradient(#FFDA51, #FFC23C);
    background: -o-linear-gradient(#FFDA51, #FFC23C);
    background: -moz-linear-gradient(#FFDA51, #FFC23C);
    background: linear-gradient(#FFDA51, #FFC23C);
    border: 1px solid #ffd222;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #ccc;
}
.revise_button:hover{
    color: #fff;
    background: -webkit-linear-gradient(#f1d571, #caa147);
    background: -o-linear-gradient(#f1d571, #caa147);
    background: -moz-linear-gradient(#f1d571, #caa147);
    background: linear-gradient(#f1d571, #caa147);

}
/*下部分*/ 
.bottom_part{
    width: 100%;
    height: 20%;
}
.detail_set{
    margin: 10px;
    color: #8a520b;
}
.detail_set .numberputs{
    width: 50px;
    border: 1px solid #2f90a5;
    text-indent: 10px;
}